In [5]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [9]:
con = psycopg2.connect("dbname = 'countries' user = 'postgres' password = 'blablabla' host = 'localhost' port = '5432'")

In [7]:
cur = con.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS cities (name VARCHAR PRIMARY KEY, country_code VARCHAR, city_proper_pop REAL, \
           metroarea_pop REAL, urbanarea_pop REAL)')

cur.execute('CREATE TABLE IF NOT EXISTS countries (code VARCHAR PRIMARY KEY, name VARCHAR, continent VARCHAR, region VARCHAR,\
           surface_area REAL, indep_year INTEGER, local_name VARCHAR, gov_form VARCHAR, capital VARCHAR, cap_long REAL, cap_lat REAL)')

cur.execute('CREATE TABLE IF NOT EXISTS languages (lang_id INTEGER     PRIMARY KEY, code VARCHAR, name VARCHAR, \
            percent REAL, official BOOLEAN)')

cur.execute('CREATE TABLE IF NOT EXISTS economies (econ_id INTEGER PRIMARY KEY, code VARCHAR, year INTEGER, income_group VARCHAR, \
            gdp_percapita REAL, gross_savings REAL, inflation_rate REAL, total_investment REAL, unemployment_rate REAL, \
            exports REAL, imports REAL)')

cur.execute('CREATE TABLE IF NOT EXISTS currencies ( curr_id INTEGER PRIMARY KEY, code VARCHAR, basic_unit VARCHAR, \
            curr_code VARCHAR, frac_unit VARCHAR, frac_perbasic REAL)')

cur.execute('CREATE TABLE IF NOT EXISTS populations (pop_id INTEGER PRIMARY KEY, country_code VARCHAR, year INTEGER, \
            fertility_rate REAL, life_expectancy REAL, size REAL )')

cur.execute('CREATE TABLE IF NOT EXISTS countries_plus ( name VARCHAR, continent VARCHAR, code VARCHAR PRIMARY KEY, \
            surface_area REAL, geosize_group VARCHAR)')

cur.execute('CREATE TABLE IF NOT EXISTS economies2010 ( code VARCHAR PRIMARY KEY, year INTEGER, income_group VARCHAR, \
            gross_savings REAL )')

cur.execute('CREATE TABLE IF NOT EXISTS economies2015 (code VARCHAR PRIMARY KEY, year INTEGER, income_group VARCHAR, \
            gross_savings REAL)')


con.commit()
con.close()

In [112]:
user = 'postgres'
passw = 'blablabla'
host =  'localhost'   
port = 5432 

connection = create_engine('postgresql+psycopg2://{}:{}@{}:{}'.format(user,passw, host, port))

import glob
import re

number = len(glob.glob('csv\*.csv'))
for i in range(0, number):
    path = glob.glob('csv\*.csv')[i]
    
    name_of_db = re.findall(r'\w+', path)[1]
    #name_of_db = re.search(r'(?<=\\)\w+', path).group()
    df = pd.read_csv(path)
    df.to_sql(name = name_of_db, con = connection, if_exists='replace', index = False)
    print(name_of_db)

cities
countries
countries_plus
currencies
economies
economies2010
economies2015
languages
populations

In [111]:
glob.glob('csv\*.csv')

['csv\\cities.csv',
 'csv\\countries.csv',
 'csv\\countries_plus.csv',
 'csv\\currencies.csv',
 'csv\\economies.csv',
 'csv\\economies2010.csv',
 'csv\\economies2015.csv',
 'csv\\languages.csv',
 'csv\\populations.csv']

In [123]:
inserted = pd.read_sql('select * from cities', connection)
print(inserted.head())

          name country_code  city_proper_pop  metroarea_pop  urbanarea_pop
0      Abidjan          CIV          4765000            NaN        4765000
1    Abu Dhabi          ARE          1145000            NaN        1145000
2        Abuja          NGA          1235880      6000000.0        1235880
3        Accra          GHA          2070463      4010054.0        2070463
4  Addis Ababa          ETH          3103673      4567857.0        3103673

In [122]:
inserted = pd.read_sql('select * from countries', connection)
print(inserted.head())

  code    country_name continent                     region  surface_area  \
0  AFG     Afghanistan      Asia  Southern and Central Asia      652090.0
1  NLD     Netherlands    Europe             Western Europe       41526.0
2  ALB         Albania    Europe            Southern Europe       28748.0
3  DZA         Algeria    Africa            Northern Africa     2381740.0
4  ASM  American Samoa   Oceania                  Polynesia         199.0

   indep_year             local_name                 gov_form    capital  \
0      1919.0  Afganistan/Afqanestan          Islamic Emirate      Kabul
1      1581.0              Nederland  Constitutional Monarchy  Amsterdam
2      1912.0              Shqiperia                 Republic     Tirane
3      1962.0     Al-JazaÂ’ir/Algerie                 Republic    Algiers
4         NaN          Amerika Samoa             US Territory  Pago Pago

    cap_long  cap_lat
0   69.17610  34.5228
1    4.89095  52.3738
2   19.81720  41.3317
3    3.05097  36.7397
4 -170.69100 -14.2846

In [121]:
inserted = pd.read_sql('select * from countries_plus', connection)
print(inserted.head())

             name continent code  surface_area geosize_group
0     Afghanistan      Asia  AFG      652090.0        medium
1     Netherlands    Europe  NLD       41526.0         small
2         Albania    Europe  ALB       28748.0         small
3         Algeria    Africa  DZA     2381740.0         large
4  American Samoa   Oceania  ASM         199.0         small

In [120]:
inserted = pd.read_sql('select * from currencies', connection)
print(inserted.head())

   curr_id code      basic_unit curr_code frac_unit  frac_perbasic
0        1  AFG  Afghan afghani       AFN       Pul          100.0
1        2  ALB    Albanian lek       ALL  Qindarke          100.0
2        3  DZA  Algerian dinar       DZD   Santeem          100.0
3        4  AND            Euro       EUR      Cent          100.0
4        5  AGO  Angolan kwanza       AOA   Centimo          100.0

In [119]:
inserted = pd.read_sql('select * from economies', connection)
print(inserted.head())

   econ_id code  year         income_group  gdp_percapita  gross_savings  \
0        1  AFG  2010           Low income        539.667         37.133
1        2  AFG  2015           Low income        615.091         21.466
2        3  AGO  2010  Upper middle income       3599.270         23.534
3        4  AGO  2015  Upper middle income       3876.200         -0.425
4        5  ALB  2010  Upper middle income       4098.130         20.011

   inflation_rate  total_investment  unemployment_rate  exports  imports
0           2.179            30.402                NaN   46.394   24.381
1          -1.549            18.602                NaN  -49.110   -7.294
2          14.480            14.433                NaN   -3.266  -21.076
3          10.287             9.552                NaN    6.721  -21.778
4           3.605            31.305               14.0   10.645   -8.013

In [118]:
inserted = pd.read_sql('select * from economies2010', connection)
print(inserted.head())

  code  year         income_group  gross_savings
0  AFG  2010           Low income         37.133
1  AGO  2010  Upper middle income         23.534
2  ALB  2010  Upper middle income         20.011
3  ARE  2010          High income         27.073
4  ARG  2010  Upper middle income         17.361

In [117]:
inserted = pd.read_sql('select * from economies2015', connection)
print(inserted.head())

  code  year         income_group  gross_savings
0  AFG  2015           Low income         21.466
1  AGO  2015  Upper middle income         -0.425
2  ALB  2015  Upper middle income         13.840
3  ARE  2015          High income         34.106
4  ARG  2015  Upper middle income         14.111

In [116]:
inserted = pd.read_sql('select * from languages', connection)
print(inserted.head())

   lang_id code      name  percent official
0        1  AFG      Dari     50.0     True
1        2  AFG    Pashto     35.0     True
2        3  AFG    Turkic     11.0    False
3        4  AFG     Other      4.0    False
4        5  ALB  Albanian     98.8     True

In [115]:
inserted = pd.read_sql('select * from populations', connection)
print(inserted.head())

   pop_id country_code  year  fertility_rate  life_expectancy        size
0      20          ABW  2010           1.704        74.953537    101597.0
1      19          ABW  2015           1.647        75.573585    103889.0
2       2          AFG  2010           5.746        58.970829  27962207.0
3       1          AFG  2015           4.653        60.717171  32526562.0
4      12          AGO  2010           6.416        50.654171  21219954.0

In [124]:
con = psycopg2.connect("dbname = 'countries' user = 'postgres' password = 'blablabla' host = 'localhost' port = '5432'")

In [127]:
user = 'postgres'
passw = 'blablabla'
host =  'localhost'   
port = 5432 

connection = create_engine('postgresql+psycopg2://{}:{}@{}:{}'.format(user,passw, host, port))

import glob
import re

number = len(glob.glob('leaders\*.csv'))
for i in range(0, number):
    path = glob.glob('leaders\*.csv')[i]
    
    name_of_db = re.findall(r'\w+', path)[1]
    #name_of_db = re.search(r'(?<=\\)\w+', path).group()
    df = pd.read_csv(path)
    df.to_sql(name = name_of_db, con = connection, if_exists='replace', index = False)
    print(name_of_db)

monarchs
presidents
prime_ministers
states

In [128]:
inserted = pd.read_sql('select * from monarchs', connection)
print(inserted.head())

  country continent                  monarch
0  Brunei      Asia         Hassanal Bolkiah
1    Oman      Asia  Qaboos bin Said al Said
2  Norway    Europe                 Harald V
3   Spain    Europe                Felipe VI

In [130]:
inserted = pd.read_sql('select * from presidents', connection)
print(inserted.head())

    country      continent                president
0     Egypt         Africa     Abdel Fattah el-Sisi
1  Portugal         Europe  Marcelo Rebelo de Sousa
2     Haiti  North America            Jovenel Moise
3   Uruguay  South America              Jose Mujica
4   Liberia         Africa    Ellen Johnson Sirleaf

In [129]:
inserted = pd.read_sql('select * from prime_ministers', connection)
print(inserted.head())

    country      continent      prime_minister
0     Egypt         Africa       Sherif Ismail
1  Portugal         Europe       Antonio Costa
2   Vietnam           Asia    Nguyen Xuan Phuc
3     Haiti  North America  Jack Guy Lafontant
4     India           Asia       Narendra Modi

In [ ]:
inserted = pd.read_sql('select * from states', connection)
print(inserted.head())