In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('u.data', sep = '\t', header = None, names = ['userId','itemId','rating','timestamp'])
data.head()

   userId  itemId  rating  timestamp
0       0      50       5  881250949
1       0     172       5  881250949
2       0     133       1  881250949
3     196     242       3  881250949
4     186     302       3  891717742

In [3]:
movieInfo = pd.read_csv('u.item', sep = '|', header = None, index_col = False, names=["itemId","title"], usecols = [0,1], encoding = 'latin-1')
movieInfo.head()

   itemId              title
0       1   Toy Story (1995)
1       2   GoldenEye (1995)
2       3  Four Rooms (1995)
3       4  Get Shorty (1995)
4       5     Copycat (1995)

In [4]:
data = pd.merge(data, movieInfo, on = 'itemId')
data.head()

   userId  itemId  rating  timestamp             title
0       0      50       5  881250949  Star Wars (1977)
1     290      50       5  880473582  Star Wars (1977)
2      79      50       4  891271545  Star Wars (1977)
3       2      50       5  888552084  Star Wars (1977)
4       8      50       5  879362124  Star Wars (1977)

# EDA

In [5]:
data = pd.DataFrame.sort_values(data,['userId', 'itemId'], ascending = [0,1])
data.head()

       userId  itemId  rating  timestamp                       title
24905     943       2       5  888639953            GoldenEye (1995)
65413     943       9       3  875501960     Dead Man Walking (1995)
35684     943      11       4  888639000        Seven (Se7en) (1995)
44359     943      12       5  888639093  Usual Suspects, The (1995)
57043     943      22       4  888639042           Braveheart (1995)

In [6]:
numUsers=max(data.userId)
numMovies=max(data.itemId)

print(numUsers, numMovies)

943 1682

In [8]:
moviesPerUser=data.userId.value_counts()
usersPerMovie=data.title.value_counts()
usersPerMovie

Star Wars (1977)                                584
Contact (1997)                                  509
Fargo (1996)                                    508
Return of the Jedi (1983)                       507
Liar Liar (1997)                                485
English Patient, The (1996)                     481
Scream (1996)                                   478
Toy Story (1995)                                452
Air Force One (1997)                            431
Independence Day (ID4) (1996)                   429
Raiders of the Lost Ark (1981)                  420
Godfather, The (1972)                           413
Pulp Fiction (1994)                             394
Twelve Monkeys (1995)                           392
Silence of the Lambs, The (1991)                390
Jerry Maguire (1996)                            384
Chasing Amy (1997)                              379
Rock, The (1996)                                378
Empire Strikes Back, The (1980)                 368
Star Trek: First Contact (1996)                 365
Back to the Future (1985)                       350
Titanic (1997)                                  350
Mission: Impossible (1996)                      344
Fugitive, The (1993)                            336
Indiana Jones and the Last Crusade (1989)       331
Willy Wonka and the Chocolate Factory (1971)    326
Princess Bride, The (1987)                      324
Forrest Gump (1994)                             321
Saint, The (1997)                               316
Monty Python and the Holy Grail (1974)          316
                                               ...
Eighth Day, The (1996)                            1
Yankee Zulu (1994)                                1
Raw Deal (1948)                                   1
Terror in a Texas Town (1958)                     1
Bloody Child, The (1996)                          1
Marlene Dietrich: Shadow and Light (1996)         1
Tokyo Fist (1995)                                 1
Coldblooded (1995)                                1
Brother's Kiss, A (1997)                          1
Nothing Personal (1995)                           1
Further Gesture, A (1996)                         1
Hedd Wyn (1992)                                   1
Walk in the Sun, A (1945)                         1
Mat' i syn (1997)                                 1
Reluctant Debutante, The (1958)                   1
Office Killer (1997)                              1
Great Day in Harlem, A (1994)                     1
He Walked by Night (1948)                         1
Angela (1995)                                     1
Tigrero: A Film That Was Never Made (1994)        1
Aiqing wansui (1994)                              1
Nobody Loves Me (Keiner liebt mich) (1994)        1
Johns (1996)                                      1
Brothers in Trouble (1995)                        1
Sunchaser, The (1996)                             1
Vermont Is For Lovers (1992)                      1
Baton Rouge (1988)                                1
Love Is All There Is (1996)                       1
Fire on the Mountain (1996)                       1
Lady of Burlesque (1943)                          1
Name: title, dtype: int64

In [9]:
# func to find top N favorite movies for users
def favoriteMovies(activeUser,N):
    topMovies=pd.DataFrame.sort_values(
        data[data.userId==activeUser],['rating'],ascending=[0])[:N]
    return list(topMovies.title)

print(favoriteMovies(5,3))

['Men in Black (1997)', 'Blade Runner (1982)', 'Empire Strikes Back, The (1980)']

## Neigbour based collaborative filtering method

In [10]:
userItemRatingMatrix=pd.pivot_table(data, values='rating', index=['userId'], columns=['itemId'])
userItemRatingMatrix.head()

itemId,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
userId,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# func to find similarity between 2 users
from scipy.spatial.distance import correlation 
def similarity(user1,user2):
    user1=np.array(user1)-np.nanmean(user1)  
    user2=np.array(user2)-np.nanmean(user2)
    commonItemIds=[i for i in range(len(user1)) if user1[i]>0 and user2[i]>0]
    if len(commonItemIds)==0:
        return 0
    else:
        user1=np.array([user1[i] for i in commonItemIds])
        user2=np.array([user2[i] for i in commonItemIds])
        return correlation(user1,user2)

In [18]:
# func find the nearest neighbours
def nearestNeighbourRatings(activeUser,K):
    similarityMatrix=pd.DataFrame(index=userItemRatingMatrix.index,columns=['Similarity'])
    
    for i in userItemRatingMatrix.index:
        similarityMatrix.loc[i]=similarity(userItemRatingMatrix.loc[activeUser],userItemRatingMatrix.loc[i])
    similarityMatrix=pd.DataFrame.sort_values(similarityMatrix,['Similarity'],ascending=[0])
    nearestNeighbours=similarityMatrix[:K]
    
    neighbourItemRatings=userItemRatingMatrix.loc[nearestNeighbours.index]
    predictItemRating=pd.DataFrame(index=userItemRatingMatrix.columns, columns=['Rating'])
    
    for i in userItemRatingMatrix.columns:
        predictedRating=np.nanmean(userItemRatingMatrix.loc[activeUser])
        
        for j in neighbourItemRatings.index:
            if userItemRatingMatrix.loc[j,i]>0:
                predictedRating += (userItemRatingMatrix.loc[j,i]-np.nanmean(userItemRatingMatrix.loc[j]))*nearestNeighbours.loc[j,'Similarity']
        predictItemRating.loc[i,'Rating']=predictedRating
        
    return predictItemRating

In [19]:
# top N recommendations for the active user

def topNRecommendations(activeUser,N):
    predictItemRating=nearestNeighbourRatings(activeUser,10)
    moviesAlreadyWatched=list(userItemRatingMatrix.loc[activeUser].loc[userItemRatingMatrix.loc[activeUser]>0].index)
    predictItemRating=predictItemRating.drop(moviesAlreadyWatched)
    topRecommendations=pd.DataFrame.sort_values(predictItemRating,['Rating'],ascending=[0])[:N]
    topRecommendationTitles=(movieInfo.loc[movieInfo.itemId.isin(topRecommendations.index)])
    
    return list(topRecommendationTitles.title)

In [20]:
activeUser=5
print(favoriteMovies(activeUser,5),"\n",topNRecommendations(activeUser,3))

C:\Program Files\Miniconda3\lib\site-packages\scipy\spatial\distance.py:543: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - np.dot(um, vm) / (norm(um) * norm(vm))

['Men in Black (1997)', 'Blade Runner (1982)', 'Empire Strikes Back, The (1980)', 'Wrong Trousers, The (1993)', 'Blues Brothers, The (1980)']
 ['Truth About Cats & Dogs, The (1996)', 'Scream (1996)', 'First Wives Club, The (1996)']

### Matrix Factorization

In [24]:
def matrixFactorization(R, K, steps=10, gamma=0.001,lamda=0.02):
    N=len(R.index)# Number of users
    M=len(R.columns) # Number of items 
    P=pd.DataFrame(np.random.rand(N,K),index=R.index)
    Q=pd.DataFrame(np.random.rand(M,K),index=R.columns)
    for step in range(steps):
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    eij=R.loc[i,j]-np.dot(P.loc[i],Q.loc[j])
                    P.loc[i]=P.loc[i]+gamma*(eij*Q.loc[j]-lamda*P.loc[i])
                    Q.loc[j]=Q.loc[j]+gamma*(eij*P.loc[i]-lamda*Q.loc[j])
        e=0
        for i in R.index:
            for j in R.columns:
                if R.loc[i,j]>0:
                    e= e + pow(R.loc[i,j]-np.dot(P.loc[i],Q.loc[j]),2)+lamda*(pow(np.linalg.norm(P.loc[i]),2)+pow(np.linalg.norm(Q.loc[j]),2))
        if e<0.001:
            break
        print(step)
    return P,Q

In [26]:
#Very slowly
(P,Q)=matrixFactorization(userItemRatingMatrix.iloc[:100,:100],K=2,gamma=0.001,lamda=0.02, steps=100)

0

KeyboardInterrupt:

In [ ]:
activeUser=1
predictItemRating=pd.DataFrame(np.dot(P.loc[activeUser],Q.T),index=Q.index,columns=['Rating'])
topRecommendations=pd.DataFrame.sort_values(predictItemRating,['Rating'],ascending=[0])[:3]
topRecommendationTitles=movieInfo.loc[movieInfo.itemId.isin(topRecommendations.index)]
print(list(topRecommendationTitles.title))

### Association rules

In [27]:
import itertools 

allitems=[]

def support(itemset):
    userList=userItemRatingMatrix.index
    nUsers=len(userList)
    ratingMatrix=userItemRatingMatrix
    for item in itemset:
        ratingMatrix=ratingMatrix.loc[ratingMatrix.loc[:,item]>0]
        userList=ratingMatrix.index
    return float(len(userList))/float(nUsers)

minsupport=0.3
for item in list(userItemRatingMatrix.columns):
    itemset=[item]
    if support(itemset)>minsupport:
        allitems.append(item)

len(allitems)

46

In [28]:
minconfidence=0.1
assocRules=[]
i=2
for rule in itertools.permutations(allitems,2):
    from_item=[rule[0]]
    to_item=rule
    confidence=support(to_item)/support(from_item)
    
    if confidence>minconfidence and support(to_item)>minsupport:
        assocRules.append(rule)

assocRules

[(1, 50),
 (1, 100),
 (1, 117),
 (1, 121),
 (1, 181),
 (7, 50),
 (7, 100),
 (7, 181),
 (50, 1),
 (50, 7),
 (50, 56),
 (50, 69),
 (50, 79),
 (50, 98),
 (50, 100),
 (50, 117),
 (50, 121),
 (50, 127),
 (50, 172),
 (50, 173),
 (50, 174),
 (50, 181),
 (50, 204),
 (50, 210),
 (50, 222),
 (50, 237),
 (50, 258),
 (50, 294),
 (50, 405),
 (56, 50),
 (56, 98),
 (56, 100),
 (56, 174),
 (56, 181),
 (69, 50),
 (79, 50),
 (79, 174),
 (98, 50),
 (98, 56),
 (98, 100),
 (98, 174),
 (98, 181),
 (100, 1),
 (100, 7),
 (100, 50),
 (100, 56),
 (100, 98),
 (100, 117),
 (100, 121),
 (100, 127),
 (100, 174),
 (100, 181),
 (100, 237),
 (117, 1),
 (117, 50),
 (117, 100),
 (117, 121),
 (117, 181),
 (121, 1),
 (121, 50),
 (121, 100),
 (121, 117),
 (121, 181),
 (121, 405),
 (127, 50),
 (127, 100),
 (127, 181),
 (172, 50),
 (172, 174),
 (172, 181),
 (173, 50),
 (174, 50),
 (174, 56),
 (174, 79),
 (174, 98),
 (174, 100),
 (174, 172),
 (174, 181),
 (174, 204),
 (174, 210),
 (181, 1),
 (181, 7),
 (181, 50),
 (181, 56),
 (181, 98),
 (181, 100),
 (181, 117),
 (181, 121),
 (181, 127),
 (181, 172),
 (181, 174),
 (181, 204),
 (181, 222),
 (181, 258),
 (204, 50),
 (204, 174),
 (204, 181),
 (210, 50),
 (210, 174),
 (222, 50),
 (222, 181),
 (237, 50),
 (237, 100),
 (258, 50),
 (258, 181),
 (258, 286),
 (258, 288),
 (258, 294),
 (258, 300),
 (286, 258),
 (288, 258),
 (288, 294),
 (294, 50),
 (294, 258),
 (294, 288),
 (294, 300),
 (300, 258),
 (300, 294),
 (405, 50),
 (405, 121)]