1. Data Reading.
2. TMDB Ratings.
3. Content Based Recommender.
4. Improving Recommendation system.
5. Collaborative filtering.
6. Hybrid recommender.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

from scipy import stats

import warnings
warnings.simplefilter(action = 'ignore')

In [3]:
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
from surprise import Reader, Dataset, SVD, evaluate

# 1. Data Reading

In [4]:
df = pd.read_csv('movies_metadata.csv')
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [5]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [6]:
# get genre from column
df['genres'].head()

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [7]:
df['genres'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df['genres'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

# 2. TMDB Ratings

Weighted Rating (WR) = ( (v/(v+m))*R ) + ( (m/(m+v))*C )
where,

v - is the number of votes for the movie

m - is the minimum votes required to be listed in the chart

R - is the average rating of the movie

C - is the mean vote across the whole report

We will use 95th percentile as our cutoff. In other words, for a movie to feature in the charts, it must have more votes than at least 95% of the movies in the list.

In [8]:
# determine C
vote_average = df[df['vote_average'].notnull()]['vote_average'].astype('int')
C = vote_average.mean()
C

5.244896612406511

In [9]:
# determine m
vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
m = vote_counts.quantile(0.95)
m

434.0

In [10]:
# Create column year 

#df['release_date'].head()
df['year'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)
df['year'].head()

0    1995
1    1995
2    1995
3    1995
4    1995
Name: year, dtype: object

In [11]:
qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())] \
                                            [['title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres']]
qualified['vote_count'] = qualified['vote_count'].astype('int')
qualified['vote_average'] = qualified['vote_average'].astype('int')
qualified.shape

# Therefore, to qualify to be considered for the chart, a movie has to have at least 434 votes
# Average rating for a movie on is 5.244 
# 2274 Movies qualify to be on chart

(2274, 6)

In [12]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

qualified['wr'] = qualified.apply(weighted_rating, axis=1)
qualified = qualified.sort_values('wr', ascending=False).head(250)

qualified.head()

,title,year,vote_count,vote_average,popularity,genres,wr
15480,Inception,2010,14075,8,29.1081,"[Action, Thriller, Science Fiction, Mystery, A...",7.917588
12481,The Dark Knight,2008,12269,8,123.167,"[Drama, Action, Crime, Thriller]",7.905871
22879,Interstellar,2014,11187,8,32.2135,"[Adventure, Drama, Science Fiction]",7.897107
2843,Fight Club,1999,9678,8,63.8696,[Drama],7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,2001,8892,8,32.0707,"[Adventure, Fantasy, Action]",7.871787

## Top movies

In [13]:
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_md = df.drop('genres', axis=1).join(s)
gen_md.head()

,adult,belongs_to_collection,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,year,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Animation
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Comedy
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,1995,Family
1,False,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Adventure
1,False,NaN,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995,Fantasy

In [14]:
# percentile = 85%, not 95 how it was above

def build_chart(genre, percentile=0.85):
    data = gen_md[gen_md['genre'] == genre]
    vote_counts = data[data['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = data[data['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = data[(data['vote_count'] >= m) & (data['vote_count'].notnull()) & (data['vote_average'].notnull())] \
                                        [['title', 'year', 'vote_count', 'vote_average', 'popularity']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [15]:
# Top thriller
build_chart('Thriller').head(5)

                    title  year  vote_count  vote_average popularity        wr
15480           Inception  2010       14075             8    29.1081  7.956460
12481     The Dark Knight  2008       12269             8    123.167  7.950165
292          Pulp Fiction  1994        8670             8     140.95  7.929996
46                  Se7en  1995        5915             8    18.4574  7.898573
24860  The Imitation Game  2014        5895             8    31.5959  7.898242

In [16]:
# Top Drama
build_chart('Drama').head(5)

,title,year,vote_count,vote_average,popularity,wr
10309,Dilwale Dulhania Le Jayenge,1995,661,9,34.457,8.607205
12481,The Dark Knight,2008,12269,8,123.167,7.983111
22879,Interstellar,2014,11187,8,32.2135,7.981489
2843,Fight Club,1999,9678,8,63.8696,7.978628
314,The Shawshank Redemption,1994,8358,8,51.6454,7.975286

This recommender gives the same recommendation to everyone, regardless of the user's personal taste. If a person who loves romantic movies (and hates action) were to look at our Top 15 Chart, s/he wouldn't probably like most of the movies


# 3. Content Based Recommender

Content Based Filtering

I use small dataset to save computing time.

In [17]:
links_small = pd.read_csv('links_small.csv')
links_small.head(2)

# full dataset for all 45000 movies from our dataset
# links = pd.read_csv('links.csv')

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [18]:
links_small = links_small[links_small['tmdbId'].notnull()]['tmdbId'].astype('int')

# Check EDA for understanding why I decided to drop this rows
df = df.drop([19730, 29503, 35587])

df['id'] = df['id'].astype('int')

sdf = df[ df['id'].isin(links_small) ]
sdf.shape
# we have 9099 movies in our new small dataset

(9099, 25)

### Movie Description Based Recommender

Let's try to build recommeder using movies tagline and description

In [19]:
#sdf[['tagline','overview']].head()
sdf['tagline'] = sdf['tagline'].fillna('')
sdf['description'] = sdf['overview'] + sdf['tagline']

#sdf['description'].isnull().sum()
sdf['description'] = sdf['description'].fillna('')

In [20]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(sdf['description'])

tfidf_matrix.shape

(9099, 268124)

### Cousine similarity.

Will use sklearn linear_kernel instead cosine_similarity, since it's much faster

In [21]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [22]:
sdf = sdf.reset_index()
titles = sdf['title']
indices = pd.Series(sdf.index, index = sdf['title'])

In [23]:
# func which return top 30 movies

def get_recommendation(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:31]
    movie_indices = [ i[0] for i in sim_scores ]
    return titles.iloc[movie_indices]

In [24]:
get_recommendation('The Dark Knight').head(10)

7931                      The Dark Knight Rises
132                              Batman Forever
1113                             Batman Returns
8227    Batman: The Dark Knight Returns, Part 2
7565                 Batman: Under the Red Hood
524                                      Batman
7901                           Batman: Year One
2579               Batman: Mask of the Phantasm
2696                                        JFK
8165    Batman: The Dark Knight Returns, Part 1
Name: title, dtype: object

### Metadata Based Recommender

In [25]:
# https://drive.google.com/drive/u/0/my-drive/credits.csv
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

In [26]:
#credits.columns
#keywords.columns

keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
df['id'] = df['id'].astype('int')

df.shape

(45463, 25)

In [27]:
df = df.merge(credits, on = 'id')
df = df.merge(keywords, on = 'id')

sdf = df[df['id'].isin(links_small)]
sdf.shape

(9219, 28)

Let's get the director's name and top 3 actors from each movies

In [28]:
sdf['cast'] = sdf['cast'].apply(literal_eval)
sdf['crew'] = sdf['crew'].apply(literal_eval)
sdf['keywords'] = sdf['keywords'].apply(literal_eval)

sdf['cast_size'] = sdf['cast'].apply(lambda x: len(x))
sdf['crew_size'] = sdf['crew'].apply(lambda x: len(x))

In [29]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

sdf['director'] = sdf['crew'].apply(get_director)

In [30]:
sdf['cast'] = sdf['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
sdf['cast'] = sdf['cast'].apply(lambda x: x[:3] if len(x) >= 3 else x)

In [31]:
sdf['keywords'] = sdf['keywords'].apply( lambda x: [i['name'] for i in x] if isinstance(x, list) else [])


Some more preparing for our data.
Strip Spaces and Convert to Lowercase from all our features. 
Mention Director 3 times to give it more weight relative to the entire cast.

In [32]:
sdf['cast'] = sdf['cast'].apply(lambda x: [str.lower(i.replace(' ','')) for i in x])

sdf['director'] = sdf['director'].astype('str').apply(lambda x: str.lower(x.replace(' ','')))
sdf['director'] = sdf['director'].apply(lambda x: [x,x,x])

We calculate the frequenct counts of every keyword that appears in the dataset

In [33]:
s = sdf.apply(lambda x: pd.Series(x['keywords']), axis = 1).stack().reset_index(level = 1, drop = True)
s.name = 'keywords'

s = s.value_counts()
s[:5]

independent film        610
woman director          550
murder                  399
duringcreditsstinger    327
based on novel          318
Name: keywords, dtype: int64

Remove keywords whick occur 1 time, and convert every word to it stem (DOGS and DOG are considered the same)

In [34]:
s = s[s>1]

stemmer = SnowballStemmer('english')
stemmer.stem('dogs')

'dog'

In [35]:
def filter_keywords(x):
    words = []
    for i in x:
        if i in s:
            words.append(i)
    return words


sdf['keywords'] = sdf['keywords'].apply(filter_keywords)
sdf['keywords'] = sdf['keywords'].apply(lambda x: [stemmer.stem(i) for i in x])
sdf['keywords'] = sdf['keywords'].apply(lambda x: [str.lower(i.replace(' ','')) for i in x])

In [36]:
sdf['soup'] = sdf['keywords'] + sdf['cast'] + sdf['director'] + sdf['genres']
sdf['soup'] = sdf['soup'].apply(lambda x: ' '.join(x))

### Make our Recommendation system

In [37]:
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
count_matrix = count.fit_transform(sdf['soup'])

count_matrix.shape

(9219, 107377)

In [38]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [39]:
sdf = sdf.reset_index()
titles = sdf['title']
indices = pd.Series(sdf.index, index=sdf['title'])

In [40]:
get_recommendation('The Dark Knight').head(10)

8031         The Dark Knight Rises
6218                 Batman Begins
6623                  The Prestige
2085                     Following
7648                     Inception
4145                      Insomnia
3381                       Memento
8613                  Interstellar
7659    Batman: Under the Red Hood
1134                Batman Returns
Name: title, dtype: object

# 4. Improving Recommendation system

In [41]:
# will take the top 25 movies based on similarity scores and calculate the vote of the 60th percentile movie.
# Then using this as the value of -m- , we will calculate the weighted rating of each movie using IMDB's formula 
# like we did in the Simple Recommender section.

In [42]:
def improved_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = sdf.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year']]
    vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(0.60)
    
    qualified = movies[(movies['vote_count'] >= m) & (movies['vote_count'].notnull()) & (movies['vote_average'].notnull())]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    qualified['wr'] = qualified.apply(weighted_rating, axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(10)
    return qualified

In [43]:
improved_recommendations('The Dark Knight')

,title,vote_count,vote_average,year,wr
7648,Inception,14075,8,2010,7.917588
8613,Interstellar,11187,8,2014,7.897107
6623,The Prestige,4510,8,2006,7.758148
3381,Memento,4168,8,2000,7.740175
8031,The Dark Knight Rises,9263,7,2012,6.921448
6218,Batman Begins,7511,7,2005,6.904127
1134,Batman Returns,1706,6,1992,5.846862
132,Batman Forever,1529,5,1995,5.054144
9024,Batman v Superman: Dawn of Justice,7189,5,2016,5.013943
1260,Batman & Robin,1447,4,1997,4.287233

# 5. Collaborative filtering

In [44]:
# I I will use the Surprise library that used extremely powerful algorithms like Singular Value Decomposition (SVD) 
# to minimise RMSE (Root Mean Square Error) and give great recommendations.

In [45]:
reader = Reader()

In [46]:
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [47]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds = 5)

In [48]:
svd = SVD()
evaluate(svd,data, measures=['RMSE','MAE'])

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.8931
MAE:  0.6864
------------
Fold 2
RMSE: 0.8920
MAE:  0.6871
------------
Fold 3
RMSE: 0.8945
MAE:  0.6895
------------
Fold 4
RMSE: 0.8977
MAE:  0.6923
------------
Fold 5
RMSE: 0.9042
MAE:  0.6953
------------
------------
Mean RMSE: 0.8963
Mean MAE : 0.6901
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.8930813215454443,
                             0.8919837391667355,
                             0.894528224422625,
                             0.8977066281571344,
                             0.9042210124110635],
                            'mae': [0.6864062398426932,
                             0.6870985282910772,
                             0.6894504469197716,
                             0.6923488648512275,
                             0.6952502600467196]})

In [49]:
# RMSE = 0.8972 - not bad. Lets train our dataset
trainset = data.build_full_trainset()
svd.train(trainset)

In [50]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [51]:
svd.predict(1, 302, 3)

#For movie with ID 302, we get an estimated prediction of 2.686. One startling feature of this recommender system is that 
# it doesn't care what the movie is (or what it contains). It works purely on the basis of an assigned movie ID and tries 
# to predict ratings based on how the other users have predicted the movie.

Prediction(uid=1, iid=302, r_ui=3, est=2.7492342301268633, details={'was_impossible': False})

# 6. Hybrid recommender

In [52]:
def convert_int(x):
    try:
        return int(x)
    except:
        return np.nan
    
id_map = pd.read_csv('links_small.csv')[['movieId', 'tmdbId']]
id_map['tmdbId'] = id_map['tmdbId'].apply(convert_int)
id_map.columns = ['movieId', 'id']
id_map = id_map.merge(sdf[['title', 'id']], on='id').set_index('title')

id_map.head(3)

                  movieId       id
title
Toy Story               1    862.0
Jumanji                 2   8844.0
Grumpier Old Men        3  15602.0

In [53]:
indices_map = id_map.set_index('id')

In [59]:
def hybrid(userId, title):
    idx = indices[title]
    tmdbId = id_map.loc[title]['id']
    #print(idx)
    movie_id = id_map.loc[title]['movieId']
    
    sim_scores = list(enumerate(cosine_sim[int(idx)]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:26]
    movie_indices = [i[0] for i in sim_scores]
    
    movies = sdf.iloc[movie_indices][['title', 'vote_count', 'vote_average', 'year', 'id']]
    movies['est'] = movies['id'].apply(lambda x: svd.predict(userId, indices_map.loc[x]['movieId']).est)
    movies = movies.sort_values('est', ascending=False)
    return movies.head(10)

In [60]:
hybrid(1, 'Avatar')

,title,vote_count,vote_average,year,id,est
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.191807
1011,The Terminator,4208.0,7.4,1984,218,3.167703
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.155570
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.118330
974,Aliens,3282.0,7.7,1986,679,3.093726
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,2.944872
1376,Titanic,7770.0,7.5,1997,597,2.918180
922,The Abyss,822.0,7.1,1989,2756,2.890312
2014,Fantastic Planet,140.0,7.6,1973,16306,2.885453
3060,Sinbad and the Eye of the Tiger,39.0,6.3,1977,11940,2.832181

In [61]:
hybrid(500, 'Avatar')

,title,vote_count,vote_average,year,id,est
1621,Darby O'Gill and the Little People,35.0,6.7,1959,18887,3.492031
522,Terminator 2: Judgment Day,4274.0,7.7,1991,280,3.471637
1376,Titanic,7770.0,7.5,1997,597,3.341247
8401,Star Trek Into Darkness,4479.0,7.4,2013,54138,3.245618
1668,Return from Witch Mountain,38.0,5.6,1978,14822,3.171161
974,Aliens,3282.0,7.7,1986,679,3.162329
8658,X-Men: Days of Future Past,6155.0,7.5,2014,127585,3.094812
4017,Hawk the Slayer,13.0,4.5,1980,25628,3.059223
2132,Superman II,642.0,6.5,1980,8536,3.031410
344,True Lies,1138.0,6.8,1994,36955,2.970369